

.container {
  margin-top: 25px; 
}
.label-left {
  display: block;
  text-align: left;
}

.para-left {
  display: block;
  text-align: left;
}

.required {
  color: red;
  margin-left: 5px; /* Adjust spacing between label text and asterisk */
}

.story-input {
  height: 300px; /* Adjust the height as needed */
  font-size: 16px; /* Adjust the font size as needed */
}

.square-box {
  position: relative;
  width: 150px; /* Set desired width */
  height: 150px; /* Set desired height */
  border: 2px solid #ced4da; /* Add border style */
  border-radius: 5px; /* Add border radius */
  overflow: hidden; /* Hide overflowing content */
  margin-top: 10px; /* Add some spacing */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.upload-label i {
  font-size: 24px; /* Set desired icon size */
  margin-bottom: 5px; /* Add spacing between icon and text */
}

.upload-label input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0; /* Hide the file input */
  z-index: 2; /* Ensure the file input is above the label */
}



.team-content,
.funding-content {
  text-align: left;
}

.team-content form,
.funding-content form {
  display: flex;
  flex-direction: column;
}

.team-content .form-group,
.funding-content .form-group {
  margin-bottom: 20px;
}

.team-content .row,
.funding-content .row {
  display: flex;
  flex-wrap: wrap;
}

.team-content .col-md-6,
.funding-content .col-md-6 {
  width: 50%;
}

.team-content label,
.funding-content label {
  margin-bottom: 5px;
}


/* Responsive adjustments */
@media (max-width: 768px) {
  .square-box {
    width: 100%; /* Adjust width to 100% for smaller screens */
  }

  .upload-label {
    flex-direction: row; /* Change flex direction to row for smaller screens */
  }

  .upload-label i {
    margin-right: 5px; /* Add spacing between icon and text */
    margin-bottom: 0; /* Remove margin bottom for smaller screens */
  }
}
